@import "tailwindcss";

/* modernist font */

@font-face {
  font-family: 'modernist'; /* Choose a name for your font */
  src: url('/fonts/Sk-Modernist.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional: improves performance */
}
@font-face {
  font-family: 'modernist'; /* Choose a name for your font */
  src: url('/fonts/Sk-Modernist-Bold.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap; /* Optional: improves performance */
}





:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "modernist", sans-serif;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.hero{
  background-image: url('/images/image 87.png'),url('/images/image 85.png');
          background-position: left center, right center;
}


@media (max-width:600px){
  .hero{
    background-position: center center,center center;
  }
}

